@mixin float($dir) {
  float: $dir;
  overflow: hidden;
}

$pnl-bg-color: #f2f2f2;
$pnl-border-color: darken($pnl-bg-color, 10%);
$txt-light-color: #999;
$savings-income-color: #93db93;
$work-income-color: #999;
$other-income-color: #00c0ee;
$socsec-income-color: #4e86ae;


/*******************************************************************************************
 * 12-Column Grid
 *******************************************************************************************/
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, 
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
    float: left;
    display: inline;
    overflow: hidden;
    *zoom: 1;
}
.grid-row { 
  clear: both; 
  overflow: hidden;
}
.grid-1 { width: 8%; }
.grid-2 { width: 16%; }
.grid-3 { width: 25%; }
.grid-4 { width: 33%; }
.grid-5 { width: 41%; }
.grid-6 { width: 50%; }
.grid-7 { width: 58%; }
.grid-8 { width: 66%; }
.grid-9 { width: 75%; }
.grid-10 { width: 83%; }
.grid-11 { width: 91%; }
.grid-12 { width: 100%; }


html, 
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

ol, 
ul, 
li {
  overflow: hidden;
}

ol.plain {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.list-view {

  @extend ol.plain;

  li {

    margin: 1em 0;
    padding: 0 0.85em;
    line-height: 1.4;

    .legend {
      @include float(left);
      width: 1em;
      height: 1em;
      margin-right: 0.35em;
    }
    &.investments_top_up_income_bridge .legend {
      background-color: $savings-income-color;
    }
    &.jobs .legend {
      background-color: $work-income-color;
    }
    &.other .legend {
      background-color: $other-income-color;
    }
    &.social_security .legend {
      background-color: $socsec-income-color;
    }

    .left-title {
      @include float(left);
    }

    .right-title {
      @include float(right);
      font-weight: bold;
    }

    .left-subtitle {
      @include float(left);
      clear: left;
      color: $txt-light-color;
      font-size: 0.95em;
    }

    .right-subtitle {
      @include float(right);
      clear: right;
      color: $txt-light-color;
      font-size: 0.95em;
    }

    &.header {

      border-bottom: 1px solid $pnl-border-color;
      padding-bottom: 0.5em;

      .left-title {
        font-weight: bold;
        font-size: 1.45em;
      }

      .right-title {
        font-size: 1.45em;
      }
    }
  }

  &.savings li .note {
    @include float(right);
  }
}

#ctn-main {

  padding: 1em;
  width: 950px;
  margin: 0 auto;

  .panel-rcs {

    background-color: $pnl-bg-color;
    border: 4px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);

    .left-vs-right {

      background-color: #fff;
      border: 1px solid #d7d7d7;
      border-radius: 7px;

      #ctn-left {
        background-color: $pnl-bg-color;
      }

      #ctn-right {

      }

    }

  }
}