<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Income Planner Dashboard</title>
  <!--[if lte IE 8]>
    <script>
      document.createElement('ng-include');
      document.createElement('ng-pluralize');
      document.createElement('ng-view');

      // Optionally these for CSS
      document.createElement('ng:include');
      document.createElement('ng:pluralize');
      document.createElement('ng:view');
    </script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="lib/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>

<body ng-controller="MainCtrl" ng-cloak>

  <div id="ctn-main">

    <h1>Your income plan</h1>

    <div class="panel-rcs">

      <div class="left-vs-right">
        <div class="grid-row">

          <div id="ctn-left" class="grid-4">

            <!-- Incomes list view -->
            <div list-view id="incomes-list-view" list="incomeSourceMap[pctKey][barIndex]"></div>

            <!-- Savings list view -->
            <div list-view id="savings-list-view" list="savingSources"></div>
          </div>

          <div id="ctn-right" class="grid-8">
            
            <div id="toggle-goal" ng-switch on="showGoal">
              <a href="javascript:void(0);" ng-switch-when="false" ng-click="toggleGoal(true)">Show my goal</a>
              <a href="javascript:void(0);" ng-switch-when="true" ng-click="toggleGoal(false)">Hide my goal</a>
            </div>

            <div stacked-barchart id="my-barchart" width="550" height="300"
              config="stackedBarchartConfigMap[pctKey]" bar-index="barIndex" goal-line="showGoal"></div>

            <div id="pct-slider">
              <div id="reserve-amount">
                Savings used for your retirement income:
                <em>{{ reserveAmounts[pctKey] }}</em>
              </div>

              <input type="range" name="bridgePct" min="0" max="100" step="5" ng-model="newPctKey" ng-mouseup="onPctMouseup()">
              <!--
              <output name="pctOutput" for="bridgePct">{{ pctKey }}</output>
              -->

              <div id="remaining-amount">
                Amount of savings remaining: 
                <em>{{ remainingAmounts[pctKey] }}</em>
              </div>
            </div> <!-- end of #pct-slider -->

          </div>

        </div>
      </div> <!-- end of .left-vs-right -->

    </div> <!-- end of .panel-rcs -->

  </div>

  <script src="http://yui.yahooapis.com/3.15.0/build/yui/yui-min.js"></script>

  <!--
  <script src="lib/js/lodash.min.js"></script>
  -->
  <script src="lib/js/angular.js"></script>
  <!--
  <script src="lib/js/angular-resource.min.js"></script>
  <script src="lib/js/angular-ui-router.min.js"></script>
  -->
  <script src="lib/js/raphael-min.js"></script>

  <script src="js/yui/raphael-ext.js"></script>
  <script src="js/yui/bubble.js"></script>
  <script src="js/yui/stacked-barchart.js"></script>

  <script src="js/app.js"></script>
  <script src="js/directives/list-view.js"></script>
  <script src="js/directives/stacked-barchart.js"></script>
  <script src="js/data/income-source-map.js"></script>
  <script src="js/data/saving-sources.js"></script>
  <script src="js/data/stacked-barchart-config-map.js"></script>
  <script src="js/data/reserve-amounts.js"></script>
  <script src="js/data/remaining-amounts.js"></script>

</body>
</html>