$navbar-width: 170px;
$group-hd-width: 120px;

$lbl-color: #555;
$lbl-active-color: #fff;

$pnl-bg-color: #eee;
$pnl-border-color: darken($pnl-bg-color, 20%);

$nav-item-bg-color: #eee;
$nav-item-border-color: darken($nav-item-bg-color, 20%);
$nav-item-active-color: #fff;
$nav-item-active-bg-color: #4589f7;


@mixin float($dir) {
  float: $dir;
  overflow: hidden;
}


html, 
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#navbar {
  position: absolute; 
  left: 0;
  top: 0;
  bottom: 0;
  width: $navbar-width;
  background: darken($pnl-bg-color, 10%);
  border-right: 1px solid $nav-item-border-color;

  .nav-item {
    padding-left: 1em;
    display: block;
    line-height: 2.5;
    color: $lbl-color;
    border-bottom: 1px solid $nav-item-border-color;
  }

  h3 {
    @extend .nav-item;
    margin: 0;
    font-size: 1em;
  }

  ul {
    list-style: none inside;
    margin: 0;
    padding: 0;

    a {
      @extend .nav-item;
      text-decoration: none;
      background: linear-gradient(to bottom,  
        lighten($nav-item-bg-color, 5%) 0%, 
        $nav-item-bg-color 37%, 
        darken($nav-item-bg-color, 10%) 100%);

      &.active {
        color: $nav-item-active-color;
        background: linear-gradient(to bottom,  
          lighten($nav-item-active-bg-color, 10%) 0%, 
          $nav-item-active-bg-color 37%, 
          darken($nav-item-active-bg-color, 10%) 100%);
      }
    }
  }
}

#mainview {
  position: absolute;
  left: $navbar-width + 1;
  right: 0;
  top: 0;
  bottom: 0;
  background: $pnl-bg-color;
  overflow: auto;

  .releases-tabs {
    .nav-tabs {
      padding: 1em;
      margin: 0;
      overflow: hidden;

      li {
        list-style: none;
        display: inline-block;

        a {
          padding: 5px 1em;
          margin: 2px;
          border: 1px solid #bcbcbc;
          text-decoration: none;

          &.active {
            color: $nav-item-active-color;
            background: linear-gradient(to bottom,  
              lighten($nav-item-active-bg-color, 10%) 0%, 
              $nav-item-active-bg-color 37%, 
              darken($nav-item-active-bg-color, 10%) 100%);
          }
        }
      }
    }
  }

  .listview {
    padding: 1em;

    .group {
      clear: both;
      overflow: hidden;
      padding: 1em;
      border: 1px solid $pnl-border-color;
      color: $lbl-color;
      margin-bottom: 1em;

      .group-hd {
        width: $group-hd-width;
        @include float(left);
      }

      .group-bd {
        @include float(left);

        .story-card {
          @include float(left);

          padding: 1em;
          margin-left: 1em;
          border: 1px solid $pnl-border-color;

          &.blue {
            background: #2d7af6;
            color: $lbl-active-color;
          }
          &.green {
            background: #73b736;
            color: $lbl-active-color;
          }
          &.yellow {
            background: #f8e15d;
          }
          &.orange {
            background: #f7941d;
          }
          &.red {
            background: #d0402f;
            color: $lbl-active-color;
          }
        }
      }
    }
  }
}